7_express/views/templates/newUser.pug
h1 New user
form(data-ng-submit='addNewUser()')
  .form-body
    .form-group.row
      .col-md-3.col-md-offset-2.voffset1
        label.control-label
          | Name:
      .col-md-5
        .input-icon
          i.fa.fa-font
          input.form-control.placeholder-no-fix(type='text', placeholder='Name', name='name', data-ng-model='user.name')
    .form-group.row
      .col-md-3.col-md-offset-2.voffset1
        label.control-label
          | Address:
      .col-md-5
        .input-icon
          i.fa.fa-font
          input.form-control.placeholder-no-fix(type='text', placeholder='Address', name='address', data-ng-model='user.address')
    .form-group.row
      .col-md-3.col-md-offset-2.voffset1
        label.control-label
          | Age:
      .col-md-5
        .input-icon
          i.fa.fa-font
          input.form-control.placeholder-no-fix(type='text', placeholder='Age', name='age', data-ng-model='user.age')
    .form-actions.row
      .col-md-5.col-md-offset-2
        button.btn.btn-success(type='submit') Add

5_post/view/newUser.html
<h1>New user</h1>

<form data-ng-submit="addNewUser()">
    <div class="form-body">
        <div class="form-group row">
            <div class="col-md-3 col-md-offset-2 voffset1">
                <label class="control-label">
                    Name:
                </label>
            </div>
            <div class="col-md-5">
                <div class="input-icon">
                    <i class="fa fa-font"></i>
                    <input class="form-control placeholder-no-fix"
                        type="text"
                        placeholder="Name"
                        name="name"
                        data-ng-model="user.name">
                    </input>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3 col-md-offset-2 voffset1">
                <label class="control-label">
                    Address:
                </label>
            </div>
            <div class="col-md-5">
                <div class="input-icon">
                    <i class="fa fa-font"></i>
                    <input class="form-control placeholder-no-fix"
                        type="text"
                        placeholder="Address"
                        name="address"
                        data-ng-model="user.address">
                    </input>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3 col-md-offset-2 voffset1">
                <label class="control-label">
                    Age:
                </label>
            </div>
            <div class="col-md-5">
                <div class="input-icon">
                    <i class="fa fa-font"></i>
                    <input class="form-control placeholder-no-fix"
                        type="text"
                        placeholder="Age"
                        name="age"
                        data-ng-model="user.age">
                    </input>
                </div>
            </div>
        </div>
        <div class="form-actions row">
            <div class="col-md-5 col-md-offset-2">
            <button class="btn btn-success" type="submit">Add</button>
        </div>
    </div>
</form>
