5_post/view/user.html
<div class="col-xs-10 col-xs-offset-1">
    <h1>Users:</h1>
    <button class="btn" ui-sref="newUser">Add new</button>
    <table class="table table-stripe">
        <tr>
            <th data-ng-repeat="(key, value) in users[0]">
                {{key}}
            </th>
        </tr>
        <tr data-ng-repeat="user in users">
            <td data-ng-repeat="property in user">
                {{property}}
            </td>
        </tr>
    </table>
</div>

7_express/views/templates/user.pug
.col-xs-10.col-xs-offset-1
  h1 Users:
  button.btn(ui-sref='newUser') Add new
  table.table.table-stripe
    tr
      th(data-ng-repeat='(key, value) in users[0]')
        | {{key}}
    tr(data-ng-repeat='user in users')
      td(data-ng-repeat='property in user')
        | {{property}}
